{% extends 'master.html' %}

{% block title %}
<title>contact</title>
{% endblock %}

{% block content %}
<p>home is the best</p>
    <footer>
    <div class="container">
        <div class="row">
        <div class=" col-md-4">
           <img width="96" height="96" src="https://img.icons8.com/android/96/twitter.png" alt="twitter"/>
        </div>
        <div class=" col-md-4">
            <img width="50" height="50" src="https://img.icons8.com/ios/50/facebook-new.png" alt="facebook-new"/>
        </div>
        <div class="col-md-4 ">
            <img width="50" height="50" src="https://img.icons8.com/ios/50/whatsapp--v1.png" alt="whatsapp--v1"/>
        </div>
            </div>
        <div>
            &copy; test app 2024
        </div>
    </div>
    </footer>
{% endblock %}